header {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    border-bottom: 8px solid black;
    padding: 10px 15px;
    }

img {

        width: 60px;
        height: 60px;
        border-radius: 15px;
       }    

nav{
    text-align: right;
    margin-right: 10px;
}    
a {
    display: inline-flex;
    align-items: center;
    color:black;
    font-family: "Fira Sans";
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
}

a::before {
    content: "";
    background-color: darkblue;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
}
   

#button {
    display: inline-block;
    background-color: darkblue;
    color: white;
    border-radius: 20px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 50px;
    box-shadow: 4px 4px 5px black;
}
#button:hover {
	background:linear-gradient(to bottom, #00dee6 5%, #006b6e 100%);
    transform: scale(1.08);
	background-color:#415989;
}
#button:active {
	position:relative;
	top:1px;
}

