.main-banner {
    box-sizing: border-box;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../../Assets/IMG/Banner\ portfolio.jpg);
    background-position: center;
    height: 570px;
    border-bottom: 10px solid black;
    padding-top: 80px;
    padding-left: 40px;
}

.main-banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 440px;
}

.main-banner .main-box{
    margin-bottom: 30px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
    
}
