.skill {
    align-items: center;
    display: flex;
    font-family: 'Patrick Hand';
    color: black;
    font-size: 30px;
}

.skill .icon {
    margin-right: 25px;
    width: 65.5px;
}

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}

.skill .title {
    margin-bottom: 5px;
}