.skill {
    display: flex;
    font-family: 'Dancing Script';
    color: black;
    font-size: 25px;
    -webkit-text-stroke: medium;

}

.skill .icon {
    margin-right: 25px;
    
}

.skill .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    
}

